.navbar{
   
    background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
}
.navbar a{
    color: #fff !important; 
    font-weight: 600;
}

.site-hero {
    padding-bottom: 3rem;
    min-height: 100vh;
    color: #fff;
}

h1 {
    font-size: 48px;
}
.text-p {
    color: rgb(82,203,150);
}
.display-4{
    color:#e9eaef;
}
.brand-img{
    width: auto;
    height: 80px;

}
@media (max-width: 1200px) {
  
    .display-4 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.3;
    }
    h1, .h1 {
        font-size: calc(1.375rem + 1.5vw);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: #152c5b;
}

.btn-neutral {
    color: #e2e8f0;
    border: 2px solid #e2e8f0;
    background-color: transparent;
}

.btn {
    position: relative;
    transition: all .2s ease;
    
}
.btn-primary{
    background-color: rgb(82,203,150);
    border: 2px solid rgb(82,203,150);
}
.btn-primary:hover{
    color: rgb(82,203,150);
    background-color: white;
    border: 2px solid rgb(82,203,150);
}
.btn-neutral:hover {
    background-color: white;
    border: 2px solid transparent;
    color:#1267fa;
}

.img-icon {
    height: 150px;
    width: auto;
    align-items: center;
    display: block;
}

.text-muted {
    color: #718096 !important;
}

.badge-soft-success {
    color: #5cc9a7;
    background-color: #def4ed;
}

.badge-lg {
    padding: .85em 1.375em;
}

.badge {
    display: inline;
    text-transform: none;
}

.badge-pill {
    padding-right: .875em;
    padding-left: .875em;
    border-radius:999px;
}

.badge {
    font-size: 80%;
    font-weight: 700;
    line-height: 1;
    display: inline-block;
    padding: .35rem .5rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    border-radius: .375rem;
}
.card-item{
    padding-top:2.5rem;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0 1.25rem rgba(31, 45, 61, .05);
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid #eaecf3;
    border-radius: .75rem;
    background-color: #fff;
    background-clip: border-box;
}
/*footer */
.footer{
    background-color: #0f0c2b;
    color:#a0aec0;
    padding-top: 2rem;
}
.footer .heading,.list-unstyled li a {
    color: #eaecf3 !important;
}
.soften{
    background-color: #a0aec02e;
}
.list-unstyled li a {
    color:#a0aec0  !important;
}
h5{
    font-family: Arial, Helvetica, sans-serif;
}
  
#how p{
   
    color: #495057 !important;
}