<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h5>
            Hi  <strong>{{ user.email }}</strong>,<br>
            Your created an account at <a href="https://flexearn.co.ke">flexearn.co.ke</a> 
            
   </h5>

    {% autoescape off %}
    <h5>Please click on the link to confirm your registration</h5>
    <a href="http://127.0.0.1:8000{% url 'activate' uidb64=uid token=token %}">http://127.0.0.1:8000{% url 'activate' uidb64=uid token=token %}</a>
    {% endautoescape %}
</body>

</html>