<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h5><strong>
            Hi {{ user.username }}
        </strong></h5>
    {% autoescape off %},
    <h5>Please click on the link to change your password</h5>
    <a href="http://127.0.0.1:8000{% url 'set-new-password' uidb64=uid token=token %}">"http://127.0.0.1:8000{% url 'set-new-password' uidb64=uid token=token %}</a>
    {% endautoescape %}
</body>

</html>