{% extends 'base.html' %}
{% load static %}
{% block title %}Join flexearn and make money online{% endblock %}
{% block 'extra_style' %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
<section style="background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);">
    <div class="container site-hero d-flex align-items-center">
        <div class="row">
            <div class="col-md-6 order-md-2">
                <img src="{% static 'images/earn.svg' %}" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 d-flex align-items-center ">
                <div>
                    <h1 class="display-4 text-center text-md-left mb-3">
                        Join flexearn and make <strong class="text-p">money online</strong>
                    </h1>
                    <p>As the economy is shifting, you need to have legitimate and creative sources of extra income. There are online opportunities available that people have been using for years now
                    </p>
                    <div>
                        <a class="btn btn-primary px-3"
                         href="{% if request.user.is_authenticated %} dashboard/ {% else %}/register/ {% endif %}">Get started</a>
                        <a class="btn btn-neutral px-5 ml-sm-5 ml-3" href="login/">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="background-color: #fafbfe; padding-top: 1rem;" id="how">
    <div class="container">
        <div class="text-center pb-5">
            <span class="badge badge-soft-success badge-pill py-2">
                Get started
            </span>
            <h2 class=" mt-4">How to get started</h2>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 px-2">
                <div class="card-item">
                    <img src="{% static 'images/build.svg' %}" alt="" class="img-icon mx-auto">
                    <div class="px-3 py-2">
                        <h5 class="text-center mt-3">Create Account</h5>
                        <p class="text-muted">Create account, verify your email and 
                            provide a valid m-pesa number for payments.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4 px-2">
                <div class="card-item">
                    <img src="{% static 'images/share-.svg' %}" alt="" class="img-icon mx-auto">
                    <div class="px-3 py-2">
                        <h5 class="text-center mt-3">Refer Your Friends</h5>
                        <p class="text-muted">Activate your account with Ksh 300.Invite your friends to join via your invite link.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 px-2">
                <div class="card-item">
                    <img src="{% static 'images/earn.svg' %}" alt="" class="img-icon mx-auto">
                    <div class="px-3 py-2">
                        <h5 class="text-center mt-3">Earn</h5>
                        <p class="text-muted">Get paid when your referrals activate their accounts.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}