{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% load static %}
{% block 'extra_style' %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
<div class="col-md-6 mx-auto cnt my-5 py-5 px-5">
    <h5 class="mb-3 fh">Login</h5>
    <div class="text-danger">{{ errors }}</div>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">Email address or username</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="email or username" name="username">
            <small id="emailHelp" class="form-text text-danger">{{ form.username.errors }}</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <div class="input-group">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
                <div class="input-group-append">
                    <a class="input-group-text" id="basic-addon2" onclick="showPassword('exampleInputPassword1')">
                        <img src="{% static 'images/eye-solid.svg' %}" alt="show password" class="eye"></a>
                </div>
            </div>
            <small id="emailHelp" class="form-text text-danger">{{ form.password.errors }}</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <span><a href="{% url 'register' %}">Register </a>instead.</span>
    <span><a href="{% url 'reset_p' %}" class="ml-4">Forgot  </a>password</span>
</div>
<script>
    function showPassword(ele){
        let x= document.getElementById(ele)
        if (x.type==="password"){
            x.type='text'
        }
        else{
            x.type ='password'
        }
    }
</script>
{% endblock %}