{% extends 'base.html' %}
{% load static %}
{% block title %}
 set new password
{% endblock %}
{% block 'extra_style' %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
<div class="text-center mt-3">
    <h5 class="fh">Set new password</h5>
</div>
<div class="col-md-6 mx-auto cnt my-5 py-5 px-5">
    <form method="POST" action="{{ request.path }}">
        {% csrf_token %}
        <div class="form-group">
            <label for="password">New Password</label>
            <div class="input-group">
                <input type="password" class="form-control" id="password" aria-describedby="emailHelp"
                placeholder="password" required name="password">
                <div class="input-group-append">
                    <a class="input-group-text" id="basic-addon2" onclick="showPassword('password')">
                        <img src="{% static 'images/eye-solid.svg' %}" alt="show password" class="eye"></a>
                </div>
            </div>
            <small id="emailHelp" class="form-text text-danger">{{ form.password.errors}}</small>
           
        </div>
        <div class="form-group">
            <label for="password1">Confirm Password</label>
            <div class="input-group">
                <input type="password" class="form-control" id="password1" aria-describedby="emailHelp"
                placeholder="password" required name="password1">
                <div class="input-group-append">
                    <a class="input-group-text" id="basic-addon2" onclick="showPassword('password1')">
                        <img src="{% static 'images/eye-solid.svg' %}" alt="show password" class="eye"></a>
                </div>
            </div>
            <small id="emailHelp" class="form-text text-danger">{{ form.password1.errors}}</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script>
    function showPassword(ele){
        let x= document.getElementById(ele)
        if (x.type==="password"){
            x.type='text'
        }
        else{
            x.type ='password'
        }
    }
</script>
{% endblock %}