{% extends 'base.html' %}
{% load static %}
{% block title %}
 set new password
{% endblock %}
{% block 'extra_style' %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
<div class="text-center mt-3">
    <h5>Set new password</h5>
</div>
<div class="col-md-6 mx-auto cnt my-5 py-5 px-5">
    <form method="POST" action="{{ request.path }}">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">New Password</label>
            <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="password" required name="password">
            <small id="emailHelp" class="form-text text-danger">{{ form.password.errors}}</small>
           
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Confirm Password</label>
            <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="password" required name="password1">
            <small id="emailHelp" class="form-text text-danger">{{ form.password1.errors}}</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}